@import "tailwindcss";

:root {
  --background: #f1f5f9; /* Slate 100 as wall */
  --foreground: #334155; /* Slate 700 */
  --custom-brand: #1e92d0;
  --custom-brand-light: #e6f4fc;
}

@theme inline {
  --color-brand: var(--custom-brand);
  --color-brand-light: var(--custom-brand-light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
